# GitHub
GITHUB_APP_ID=3576917
GITHUB_PRIVATE_KEY_PATH=./private-key.pem
WEBHOOK_SECRET=jgsdnb2112341jbfjfdasjhfadsFDFASJHFDA

# Telegram
TELEGRAM_BOT_TOKEN=123456:ABC-DEF1234gh...
TELEGRAM_CHAT_ID=123456789